.*.swo
.*.swp
Build
_build
*.bak
MYMETA.yml
MYMETA.json
cover_db/
critic-cache.yaml
sandbox/*
t/*/*-result.yaml
META.yml
Makefile.PL
SLight-*.tar.gz
blib/
t/1-modules/SLight-Output-HTML-Template/Two_part.yaml
t/1-modules/SLight-Output-HTML-Template/foo.yaml

